import * as S from './styles';


export type {{pascalCase name}}Props = {
  a?: string;
};

export const {{pascalCase name}} = (props: {{pascalCase name}}Props) => (
  <S.Wrapper{{pascalCase name}}>
    <h1>xxxx</h1>
  </S.Wrapper{{pascalCase name}}>
);
